.text-decorator-none {
  text-decoration: none;
}

.textos1 {
  font-weight: bold !important;
}

.imgLogin {
  background-image: url("https://i.imgur.com/j0cdvbU.jpeg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.corpoLog {
  background-color: #ebf1f14e !important;
  color: rgba(240, 248, 255, 0.125) !important;
  align-items: center;
}

.corLogin {
  color: #4557e0eb !important;
}

.fundoLog {
  background-color: rgb(255, 255, 255) !important;
  align-items: center;
  border-radius: 60px;
  height: 390px;
  width: 270px;
}
.titleB {
  color: antiquewhite;
 font-style: italic;
 margin-bottom: 200px;
}
