.text-decorator-none {
  text-decoration: none;
}

.textos1 {
  font-weight: bold !important;
}

.imgLogin {
  background-image: url("https://i.imgur.com/j0cdvbU.jpeg");
  /* background-image: url("https://i.pinimg.com/564x/4b/a9/c5/4ba9c5575878537eaf72393c21cadd15.jpg"); */
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.corpoLog {
  background-color: #ebf1f14e;
  color: aliceblue !important;
}

.corLogin {
  color: #4557e0eb !important;
}

.fundoLog {
  background-color: rgba(203, 147, 147, 0.556) !important;

}
