.text-decorator-none {
    text-decoration: none;
}
.fundoPost{
    background-color: black !important;

}

.estiloPosts{
    border-radius: 5% !important;
    justify-content: center !important;
    align-items: center;
}